[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pillow = "*"
djoser = "*"
djangorestframework-simplejwt = "*"
social-auth-app-django = "*"
django-filter = "*"
django-audio-validator = "*"
drf-spectacular = "*"
djangorestframework = "*"
django = "*"

[dev-packages]
isort = "*"

[requires]
python_version = "3.10"
